.projects-title {
  border-top: white 1px solid;
}

.bold-text {
  font-weight: 700 !important;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#projects-container .row {
  justify-content: space-around;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  #projects-container {
    text-align: center;
  }
  .bold-text {
    text-align: center;
  }
  #projects-container .row {
    display: block;
  }
  #projects-container .row .col:first-child {
    margin-bottom: 30px;
  }
  #projects-container .col-4 {
    max-width: 100% !important;
  }
  .section-projects {
    padding: 0;
  }
  .section-projects .row {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  #projects-container .col-4 {
    flex: 0 0 48.333333%;
    max-width: 48.333333%;
  }
}