#home-section {
  background-image: url(../../assets/images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgb(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 100px;
}

.home-inner {
  margin-top: 5%;
}

@keyframes showTopText {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: white;
}

.animated-title>div {
  overflow: hidden;
}

.animated-title>div div {
  font-size: 24px;
  padding: 10px 0;
}

.animated-title>div.text-top {
  border-bottom: 1px solid red;
}

.animated-title>div.text-top div {
  animation: showTopText 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title>div.text-bottom {
  bottom: 0;
}

.animated-title>div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.social-links-homepage {
  margin-left: 10%;
}

.social-links-homepage i {
  color: white;
  font-size: 2em;
  margin-top: 2%;
}

.joke-title-heading {
  color: white;
  border-bottom: 1px solid red;
  padding: 5px;
}

.joke-text {
  color: white;
  margin-top: -10px;
  padding: 5px;
  font-size: 18px;
}

@media (max-width: 576px) {
  .animated-title {
    width: 100% !important;
  }
  .row .col .w-50 {
    width: 100% !important;
  }
}

@media (max-width: 280px) {
  .joke-title-heading {
    font-size: larger;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .joke-title-heading {
      font-size: larger;
  }
}