.contact-me {
  color: white;
  border-top: 1px solid white;
}

.social-links-contact {
  margin-left: 50%;
}

.social-links-contact i {
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 30px;
  border-radius: 50%;
  margin-top: 48px;
}

p i {
  font-size: 40px ;
  padding-right: 10px;
}

.get-in-touch {
  margin-left: 20px;
}