.navbar {
    background-color:  #1a1b1c;
}

.container a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

a:hover {
    color: rgb(233, 230, 230);
}

.nav-link {
    cursor: pointer !important;
}

.home-button {
    color: rgba(255,255,255,.5) !important;
}

.home-button:hover {
    color: rgba(255,255,255,0.700) !important;
}